/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    color: #333;
    text-align: center;
    margin-top: 50px;
}

form {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

button {
    background-color: #007BFF; /* Color de fondo del botón */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    padding: 10px 20px; /* Espaciado interno */
    cursor: pointer; /* Cambiar el cursor al pasar por encima */
    font-size: 16px; /* Tamaño de fuente */
}

button:hover {
    background-color: #0056b3; /* Color de fondo del botón al pasar el cursor */
}
